<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Test</title>
    <style>
        #prompt {
            width: 600px;
            height: 200px;
        }
    </style>
</head>
<body>

    <form action="/" method="post">
        <textarea id="prompt" name="prompt" placeholder="Prompt here" required></textarea>
        <button value="Submit">Send</button>
    </form>

    <h2>LLM Response:</h2>
    <h2>{% filter markdown %}
            {{ llm_response }}
        {% endfilter %}
    </h2>

</body>
</html>